<div class="container d-flex flex-column align-items-center">
    <h1 class="mb-3">Welcome</h1>
</div>
<hr>
<div class="container mt-5">
    <div class="row gy-2 gx-5">
        {{#each card}}
        <div class="col-md-4">
            <h2>{{this.heading}} {{@index}}</h2>
            <p>{{this.description}}</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        {{/each}}
    </div>
    <hr>
</div>

<div class="container d-flex flex-column align-items-center">
    <p>Click on Logout Button to Logout</p>
    <form action="/logout" method="get">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>